.Player-details {
    background-color: #2b3442;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Player-list {
    background-color: #213555;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }